.my-masonry-grid {
  display: flex;
  margin-left: -32px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 32px; /* gutter size */
  background-clip: padding-box;
}

/* card wrapper */
.my-masonry-grid_column > article {
  margin-bottom: 32px;
}
