.masonry-grid {
  display: flex;
  margin-left: -3rem; /* gutter size offset */
  width: auto;
}
.masonry-grid_column {
  padding-left: 3rem; /* gutter size */
  background-clip: padding-box;
}

/* card wrapper */
.masonry-grid_column > article {
  margin-bottom: 3rem;
}

@media (max-width: 767px) {
  .masonry-grid {
    flex-direction: column;
    margin-left: 0;
    width: 100% !important;
  }

  .masonry-grid_column {
    padding-left: 0;
    width: 100% !important;
  }

  .masonry-grid_column > article {
    width: 100% !important;
  }
}
